.row {
    display: flex;
    width: 95%;
}

.col1 {
    width: 50%;
    max-width: 400px;
    display: inline-block;
}

.col2 {
    display: inline-block;
}

.applist {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}

.appbox {
    width: 200px;
    border: solid 1px black;
    margin: 10px;
    text-align: center;
}

.slider {
    width: 300px;
}

.slider input {
    width: 280px;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav > ul li {
    list-style: none ;
}

li.nav-right:before {
    content: "\27a4";
}

li.nav-down:before {
    content: "\25bc";
}

